

    .card
    {
        width:300px;
        height: 400px;
        background-color: aquamarine;
        overflow: hidden;
        border: 2px solid rgb(112, 112, 112);
        margin-bottom: 10;
        margin-left: 20px; 
        text-align: justify;
        padding: 10px;
        border-radius: 20px;

    }
    body{
        background-color: lightgrey;
    }
    #card1{
        background-color: rgb(250, 246, 248);
    }
        
    #card2{
        background-color: rgb(245, 245, 240);
    }

    #card3{
        background-color: rgb(245, 250, 245);
    }
        
    #card4{
        background-color: rgb(253, 251, 252);
    }
    #container
    {
        display: inline-flex; 
    }
    .card img{
        width: 90%;
        height: 150px;
        border-radius: 20px;
        padding: 10px;
    }
    .card h2
    {
        text-align: center;
        margin: 10px;
    }
    .button
    {
        display: block;
        margin-top: 10px;
        text-decoration: none;
        color: white;
        font-family: Arial;
        background-color: red;
        padding:  10px 20px;
        border-radius: 20px;
    }
    .button:hover{
        background-color: blue;
    }   
